{% extends 'master' %}

{% block content %}
  <div class="container-fluid" id="app">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <div class="panel panel-info" id="step1-wrapper">
          <div class="panel-heading">
            <h3 class="panel-title">Step 1: Link with twitter and FB account</h3>
          </div>
          <div class="panel-body">
              <a href="#" class="" v-on:click="linkTwitter"><img src="/assets/Twitter_Logo_Blue.svg" width="50" height="50" alt="Twitter"></a>
              <a href="#" class="" v-on:click="linkFacebook"><img src="/assets/F_icon.svg" width="30" height="30" alt="Facebook"></a>
              <hr>
              <p v-if="connectedTwitter">Connected to Twitter  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
              <p v-if="connectedFacebook">Connected to Facebook  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
              {% raw %}
              {{ statusLinking | json }}
              {% endraw %}
              <hr>
              {{ twitterFeed | json }}
              {{ facebookFeed | json }}
          </div>
        </div>

        <div class="panel panel-info" id="step2-wrapper" v-show="showStep2">
          <div class="panel-heading">
            <h3 class="panel-title">Step 2: Pull feed from twitter and FB account</h3>
          </div>
          <div class="panel-body">
              <a href="#" class="" v-on:click="pullFeedTwitter">Pull from Twitter Account</a><br>
              <a href="#" class="" v-on:click="pullFeedFacebook">Pull from Facebook Account</a>
              <hr>
              <p v-if="pulledTwitter">Pulled from Twitter  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
              <p v-if="pulledFacebook">Pulled from Facebook  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></p>
              {% raw %}
              {{ statusPulling | json }}
              {% endraw %}

          </div>
        </div>

         <div class="panel panel-info" id="step3-wrapper" v-show="showStep3">
          <div class="panel-heading">
            <h3 class="panel-title">Step 3: Analyzing Sentences</h3>
          </div>
          <div class="panel-body">
              <a href="#" class="" v-on:click="startAnalyzing">Initiate Analyzing</a>
              <hr>
              <p v-if="completeAnalyzing">
                  Analyzing Complete 
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Results <span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
              </p>
              {% raw %}
              <div v-html="statusAnalyzing"></div>
              {% endraw %}

              <modal></modal>
          </div>
        </div>


      </div>
    </div>

  </div>
  {% include 'macros.modal' %}

<script>
</script>


{% endblock %}
