{% extends 'master' %}

{% block content %}
  <div class="container-fluid" id="app">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Step 1: Link with twitter and FB account</h3>
          </div>
          <div class="panel-body">
              <a href="#" class="" v-on:click="linkTwitter"><img src="/assets/Twitter_Logo_Blue.svg" width="50" height="50" alt="Twitter"></a>
              <a href="#" class="" v-on:click="linkFacebook"><img src="/assets/F_icon.svg" width="30" height="30" alt="Facebook"></a>
              <hr>
              {% raw %}
              {{ twitterFeed | json }}
              {% endraw %}
              <hr>
              {{ twitterFeed | json }}
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}
